*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Corpo da página */
html,
body {
  font-family: "Arial", sans-serif;
  background-color: #f9fafb;
  color: #333;
  /* width: 100%;
  height: 100%; */
}

/* Cabeçalho */
header {
  background-color: #ffffff;
  padding: 20px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo img {
  width: 55px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #3c3c3c;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
}

/* Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  /* min-width: 180px; */
  z-index: 10;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
}

.dropdown-content ul li {
  padding: 12px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.dropdown-content ul li:hover {
  background-color: #f1f1f1;
}

/* Sub-dropdown de Tipos de Imóveis */
.property-type-dropdown {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f9f9f9;
  border-left: 2px solid #e2e2e2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.city:hover .property-type-dropdown {
  display: block;
}

.citys {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  /* Faz os links ficarem em uma coluna (um abaixo do outro) */
}

.property-type-dropdown ul {
  list-style: none;
  padding: 0;
}

.property-type-dropdown ul li {
  padding: 12px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.property-type-dropdown ul li:hover {
  background-color: #f1f1f1;
}

/* Seção de Pesquisa */
.search {
  background-image: url(./images/pexels-skitterphoto-9253.jpg);
  text-align: start;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.adjustForm {
  display: flex;
  justify-content: start;
}

.search-container {
  max-width: 700px;
  margin: 0 auto;
}

.search-container input {
  width: 80%;
  padding: 12px;
  font-size: 1.2em;
  border: none;
  outline: none;
  margin-right: 10px;
}

.search-container button {
  padding: 12px 25px;
  background-color: #ffffff;
  border: none;
  color: #0056b3;
  font-size: 1.2em;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

/* Imóveis em Destaque */
.featured-properties {
  padding: 20px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.featured-properties h2 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.property-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 97%;
}

.property-card {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.property-card img {
  width: 100%;
  height: 200px;
}

/* Estilo para o formulário de pesquisa */
.search {
  padding: 80px 20px;
}

.search-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  /* Fundo branco */
  border-radius: 8px;
  /* Bordas arredondadas */
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
}

h2 {
  font-size: 2.2em;
  margin-bottom: 20px;
  color: #333;
}

.search-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-container {
  width: 38%;
}

.field {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.nameInput {
  display: flex;
  justify-content: start;
  margin-left: 2%;
  margin-top: 2%;
}

.double-fields {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.half {
  flex: 1;
}

*/ .search-button {
  width: 100%;
  padding: 14px;
  background-color: #0056b3;
  /* Fundo azul */
  color: #ffffff;
  /* Texto branco */
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

input {
  border: none;
  outline: none;
}

.formGrid {
  gap: 20px;
}

.city {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 10px;
  /* min-width: 220px; */
}

.footer-section h3,
.footer-section h4 {
  margin-top: 0;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ddd;
  text-decoration: none;
}

.footer-section a:hover {
  color: black;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #444;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 5px 0;
}

.footer-bottom a {
  color: #ddd;
  text-decoration: none;
}

.whatsapp-button {
  background-color: #25d366;
  /* Cor verde do WhatsApp */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.whatsapp-button i {
  margin-right: 10px;
  /* Espaço entre o ícone e o texto */
  font-size: 20px;
}

.whatsapp-button:hover {
  background-color: #128c7e;
  /* Cor escura do WhatsApp quando o botão é hover */
}

.ulGrid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleFooter {
  margin-bottom: 5%;
}

.align-buttons {
  display: flex;
  justify-content: space-around;
  /* max-width: 95%; */
  gap: 10px;
  margin: 5%;
}

.visit-button {
  background-color: #007bff;
  /* Azul para complementar o verde */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.visit-button i {
  margin-right: 10px;
  /* Espaço entre o ícone e o texto */
  font-size: 18px;
}

.visit-button:hover {
  background-color: #0056b3;
  /* Azul mais escuro quando hover */
}

/* Adicionando um efeito visual de foco para ambos os botões */
.whatsapp-button:focus,
.visit-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.6);
  /* Efeito de foco */
}

/* Contêiner dos botões */
.toggle-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

/* Estilo básico dos botões */
.toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ddd;
  border: 2px solid #aaa;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
}

/* Efeito de botão ativo */
.toggle-button.active {
  background-color: #4caf50;
  color: white;
  transform: translateX(5px);
  /* Leve deslocamento para dar a sensação de "ativo" */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Efeito de hover */
.toggle-button:hover {
  background-color: #66bb6a;
  color: white;
}

.titleDropdown {
  margin: 7%;
}

a:hover {
  color: black;
  background-color: #f0f0f0;
  /* Cor cinza claro no hover */
}

/* Remover as setas de incremento e decremento no input number */
input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
  -webkit-appearance: none;
  /* Chrome, Safari */
  appearance: none;
  /* Standard */
}

/* Para o Firefox, ainda é necessário ocultar as setas no input number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.titleHeader {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.carrossel {
  position: relative;
}

.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  cursor: pointer;
  z-index: 100;
  /* As setas ficam sobre a imagem */
}

.seta.Esquerda {
  left: 10px;
}

.seta.Direita {
  right: 10px;
}

/* Estilos adicionais para as setas ao passar o mouse */
.seta:hover {
  color: #ddd;
  /* Muda a cor das setas quando o mouse passa */
}

.search {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
}

.alignForm {
  width: 100%;
  margin-left: -25%;
}

.carrossel-container {
  margin: 4%;
}

.carrosselExt {
  width: 100%;
}

@media (max-width: 1250px) {
  .align-buttons {
    flex-direction: column;
  }
}

@media (max-width:1000px){
  
  .search-container{
    width: 60%;
  }
  .search{
    justify-content: center;
  }

  .alignForm{
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  .property-cards {
    flex-direction: column;
  }
  .property-card {
    box-shadow: 0 6px 15px 5px rgba(0, 0, 0, 0.25);
  }
  button{
    justify-content: center;
  }
  img{
    min-width: 100%;
  }
  .featured-properties{
    display: flex;
    justify-content: center;
  }

  .property-card img{
    min-width: 100%;
  }

}

.textDestaques{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.textImoveis{
  margin-bottom: 0;
}


nav .logo img {
  width: 55px;
}

/* Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  /* min-width: 180px; */
  z-index: 10;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
}

.dropdown-content ul li {
  padding: 12px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.dropdown-content ul li:hover {
  background-color: #f1f1f1;
}

/* Sub-dropdown de Tipos de Imóveis */
.property-type-dropdown {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f9f9f9;
  border-left: 2px solid #e2e2e2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.city:hover .property-type-dropdown {
  display: block;
}

.a {
  text-decoration: none;
  color: #3c3c3c; 
  font-weight: bold;
}

@media (min-width:1250px) {
  .align-buttons {
    flex-direction: row;
  }
  .visit-button{
    width: 50%;
  }
  .whatsapp-button-card{
    width: 50%;
  }
}